body {
    background-image: url(imagini/background.jpg);
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 33%;
    margin-left: 33%;
    position: relative;
}

li {
    float: left;
    background-image: url(imagini/bgmeniu.png);
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    transition: padding 0.5s;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 22px;
}

li:hover {
    padding-top: 20px;
}

.curent {
    padding-top: 20px;
    background-color: black;
}

#pagina {
    height: auto;
    background-color: white;
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 50%;
    margin-left: 25%;
    z-index: -1;
    border-radius: 2%;
    overflow: hidden;
}

h1 {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 20;
    padding: 6px 12px;
}

h2 {
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    padding: 0px 50px;
}

.diagrama {
    text-align: center;
    width: 50%;
    position: relative;
    margin: 5% 0 10% 0;
}

.diagrama:nth-of-type(odd) {
    float: right;
}

.diagrama:nth-of-type(even) {
    float: left;
}

ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: 5% 2% 20% 2%;
    background-image: url(imagini/bgsubcap.png);
    background-size: cover;
    width: 43%;
}
ul2:nth-of-type(odd){
    float:left;
}

ul2:nth-of-type(even){
    float:right;
}

li2 {
    display: block;
    padding: 10px 50px;
    border-top: 1px solid;
    text-align: center;
}

li2 a {
    text-decoration: none;
    color: white;
}

li2:first-child {
    color: white;
    background-image: url(imagini/bgcuprins.png);
}

li2:last-child {
    border-bottom: 1px solid;
}